@using PLMain
@{
    Layout = null;
}

@{
    if (IsPost)
    {
        var a = Request["ID"];
        if (!string.IsNullOrEmpty(a))
        {
            WebPL.Delete(uint.Parse(a));
        }
    }
    <h1>Удалить пользователя (id)</h1>
    <form action="/Index.cshtml" method="post">
        <input type="text" name="ID">
        <button type="submit">Submit</button>
    </form>
}