.left-side, .right-side{
    display: inline-block;
    padding: 50px;
    margin: auto;
    height: 100px;
    vertical-align: top;
    width: 100px;
    border: black 1px solid;
}
.button-bar{
    display: inline-block;
    margin-top: 50px;
}
.select{
    width: 100px;
    border: solid 1px black;
}
label{
    display: block;
}
button{
    display: list-item;
    margin: auto auto 10px auto;
}